Azure Node Red
[{"id":"e8e662ef.9a2ba","type":"ibmiot in","z":"967ef4e7.284d78","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"a0e6f8b6b084","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"TI SensorTag","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":163.5,"y":292.25,"wires":[["486180fe.ea2ec","d8fdf418.135a98"]]},{"id":"486180fe.ea2ec","type":"debug","z":"967ef4e7.284d78","name":"","active":false,"console":"false","complete":"payload","x":501.5,"y":337.25,"wires":[]},{"id":"79cf05f5.29f43c","type":"function","z":"967ef4e7.284d78","name":"","func":"'use strict';\n\nvar clientFromConnectionString = global.get('deviceAmqp').clientFromConnectionString;\nvar Message = global.get('iotDevice').Message;\n\nvar connectionString = 'HostName=IoT-Hub-SensorTag-001.azure-devices.net;DeviceId=SensorTag001;SharedAccessKey=rymuAQ7QNa0aLVXLQJ9yvsqN/3NL2lGS7WB0EgY+6kQ=';\n\nvar client = clientFromConnectionString(connectionString);\n\nfunction printResultFor(op) {\n  return function printResult(err, res) {\n    if (err) console.log(op + ' error: ' + err.toString());\n    if (res) console.log(op + ' status: ' + res.constructor.name);\n  };\n}\n\nvar connectCallback = function (err) {\n  if (err) {\n    console.log('Could not connect: ' + err);\n  } else {\n    console.log('Client connected');\n\n    // Create a message and send it to the IoT Hub every second\n        var Light = Number(msg.payload.d.light);\n        var gyroX = Number(msg.payload.d.gyroX);\n        var gyroY = Number(msg.payload.d.gyroY);\n        var gyroZ = Number(msg.payload.d.gyroZ);\n        var accelX = Number(msg.payload.d.accelX);\n        var accelY = Number(msg.payload.d.accelY);\n        var accelZ = Number(msg.payload.d.accelZ);\n        var data = JSON.stringify({ light: Light, GyroX: gyroX, GyroY: gyroY, GyroZ: gyroZ, AccelX: accelX, AccelY: accelY, AccelZ: accelZ});\n        var message = new Message(data);\n        console.log(\"Sending message: \" + message.getData());\n        client.sendEvent(message, printResultFor('send'));\n\n  }\n};\n\nclient.open(connectCallback);","outputs":"0","noerr":0,"x":484.5,"y":189.25,"wires":[]},{"id":"d8fdf418.135a98","type":"function","z":"967ef4e7.284d78","name":"","func":" var Light = Number(msg.payload.d.light);\n        var gyroX = Number(msg.payload.d.gyroX);\n        var gyroY = Number(msg.payload.d.gyroY);\n        var gyroZ = Number(msg.payload.d.gyroZ);\n        var accelX = Number(msg.payload.d.accelX);\n        var accelY = Number(msg.payload.d.accelY);\n        var accelZ = Number(msg.payload.d.accelZ);\n        var data = JSON.stringify({ light: Light, GyroX: gyroX, GyroY: gyroY, GyroZ: gyroZ, AccelX: accelX, AccelY: accelY, AccelZ: accelZ});\n     global.set(\"data\",\"data\");   \nreturn data;","outputs":"0","noerr":0,"x":479.5,"y":261,"wires":[]},{"id":"6adc1f4c.b715a","type":"http in","z":"967ef4e7.284d78","name":"","url":"/data","method":"get","swaggerDoc":"","x":159.5,"y":440,"wires":[["65aab17a.027ca"]]},{"id":"7f9c5747.618ed8","type":"http response","z":"967ef4e7.284d78","name":"","x":470.5,"y":441,"wires":[]},{"id":"65aab17a.027ca","type":"function","z":"967ef4e7.284d78","name":"","func":"msg.data = global.get(\"data\");\nreturn msg;","outputs":1,"noerr":0,"x":320.5,"y":441,"wires":[["7f9c5747.618ed8","87e0903e.c380a"]]},{"id":"87e0903e.c380a","type":"debug","z":"967ef4e7.284d78","name":"","active":true,"console":"false","complete":"data","x":483.5,"y":523,"wires":[]}]
