NODE-RED.js
[{"id":"e8e662ef.9a2ba","type":"ibmiot in","z":"967ef4e7.284d78","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"a0e6f8b6b084","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"TI SensorTag","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":140.5,"y":262.24999809265137,"wires":[["486180fe.ea2ec","79cf05f5.29f43c"]]},{"id":"486180fe.ea2ec","type":"debug","z":"967ef4e7.284d78","name":"","active":false,"console":"false","complete":"payload","x":501.5,"y":337.25,"wires":[]},{"id":"79cf05f5.29f43c","type":"function","z":"967ef4e7.284d78","name":"","func":"'use strict';\n\nvar clientFromConnectionString = global.get('deviceAmqp').clientFromConnectionString;\nvar Message = global.get('iotDevice').Message;\n\nvar connectionString = 'HostName=IoT-Hub-SensorTag-001.azure-devices.net;DeviceId=SensorTag001;SharedAccessKey=rymuAQ7QNa0aLVXLQJ9yvsqN/3NL2lGS7WB0EgY+6kQ=';\n\nvar client = clientFromConnectionString(connectionString);\n\nfunction printResultFor(op) {\n  return function printResult(err, res) {\n    if (err) console.log(op + ' error: ' + err.toString());\n    if (res) console.log(op + ' status: ' + res.constructor.name);\n  };\n}\n\nvar connectCallback = function (err) {\n  if (err) {\n    console.log('Could not connect: ' + err);\n  } else {\n    console.log('Client connected');\n\n    // Create a message and send it to the IoT Hub every second\n        var Light = Number(msg.payload.d.light);\n        var gyroX = Number(msg.payload.d.gyroX);\n        var gyroY = Number(msg.payload.d.gyroY);\n        var gyroZ = Number(msg.payload.d.gyroZ);\n        var accelX = Number(msg.payload.d.accelX);\n        var accelY = Number(msg.payload.d.accelY);\n        var accelZ = Number(msg.payload.d.accelZ);\n        var data = JSON.stringify({ light: Light, GyroX: gyroX, GyroY: gyroY, GyroZ: gyroZ, AccelX: accelX, AccelY: accelY, AccelZ: accelZ});\n        var message = new Message(data);\n        console.log(\"Sending message: \" + message.getData());\n        client.sendEvent(message, printResultFor('send'));\n\n  }\n};\n\nclient.open(connectCallback);","outputs":"0","noerr":0,"x":517.5,"y":250.25,"wires":[]}]
