Node-RED.js
[{"id":"a6cc2439.c6ca78","type":"debug","z":"d6852f88.91ba1","name":"","active":false,"console":"false","complete":"payload","x":694,"y":288,"wires":[]},{"id":"922d242b.7896a8","type":"function","z":"d6852f88.91ba1","name":"","func":"var data = msg.payload;\n global.set(\"data\",\"data\"); \n context.global.data = msg.payload;\nreturn data;\n","outputs":"0","noerr":0,"x":672,"y":211.75,"wires":[]},{"id":"60ced035.04dd58","type":"http in","z":"d6852f88.91ba1","name":"","url":"/data","method":"get","swaggerDoc":"","x":352,"y":390.75,"wires":[["d41ba736.e6c428"]]},{"id":"ba352373.ea588","type":"http response","z":"d6852f88.91ba1","name":"","x":663,"y":391.75,"wires":[]},{"id":"d41ba736.e6c428","type":"function","z":"d6852f88.91ba1","name":"","func":"var str = context.global.data;\nvar d = str.substring(0,str.indexOf('\"l')-2)+'}';\nmsg.payload = d;\nreturn msg;","outputs":1,"noerr":0,"x":513,"y":391.75,"wires":[["ba352373.ea588","55e61f42.23534"]]},{"id":"55e61f42.23534","type":"debug","z":"d6852f88.91ba1","name":"","active":true,"console":"false","complete":"payload","x":686,"y":473.75,"wires":[]},{"id":"4c974641.aedc1","type":"mqtt in","z":"d6852f88.91ba1","name":"","topic":"To Topic","qos":"2","broker":"cb44b46b.89c86","x":371,"y":257,"wires":[["a6cc2439.c6ca78","922d242b.7896a8"]]},{"id":"c5e2db08.d60db8","type":"http in","z":"d6852f88.91ba1","name":"","url":"/time","method":"get","swaggerDoc":"","x":360,"y":538,"wires":[["97e71b00.377e78"]]},{"id":"1dcecb43.e61ccd","type":"http response","z":"d6852f88.91ba1","name":"","x":679,"y":546,"wires":[]},{"id":"97e71b00.377e78","type":"function","z":"d6852f88.91ba1","name":"","func":"var d = new Date();\nmsg.payload = '{\"time\":\"'+d.toISOString()+'\"}'; \nreturn msg;","outputs":1,"noerr":0,"x":514,"y":537,"wires":[["1dcecb43.e61ccd","4b3fc538.37c194"]]},{"id":"4b3fc538.37c194","type":"debug","z":"d6852f88.91ba1","name":"","active":true,"console":"false","complete":"false","x":707,"y":619,"wires":[]},{"id":"cb44b46b.89c86","type":"mqtt-broker","z":"d6852f88.91ba1","broker":"40.76.0.47","port":"1883","tls":null,"clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""}]
